
body { 
  background: url("../images/bg.jpg") no-repeat center center fixed; 
  background-size: cover;
}

h1 {
	text-align: center;
	height: 60px;
	width: 100%;
	font-size: large;
	background-color: black;
	color: #229CE4;
	margin-top: 0;
}

.nav {
	margin-bottom: 50px;
}

h3{
	color: blue;
	text-align: center;
	font-size: medium;
	color: yellow;
}


.btn {
	padding: 0;
}

.btn img {
	position: relative;
	float: right;
    padding: 0;
    height: 10rem;
    width: 10rem;
    border: solid #229CE4 2px;
	margin:0;
	padding:0;
	background: transparent;
	clear: right;
}

#sidebar{
	position: relative;
	float: right;
	clear: right;
}

#gems{
	float: right;
	position: relative;
}

#counters{
	float: left;
	position: relative;
}